[Unit]
Description=Update service for OCNE
After=network-online.target
After=ocne-disable-ignition.service
Wants=network-online.target

[Service]
ExecStart=/etc/ocne/ocne-update.sh
Restart=always

[Install]
WantedBy=multi-user.target
