[Unit]
Description=Overlayfs for CNI installation
Before=local-fs.target umount.target

[Mount]
What=overlay
Where=/usr/lib/opt/cni/bin
Type=overlay
Options=defaults,lowerdir=/usr/lib/opt/cni/bin,upperdir=/var/ocne/cni/bin,workdir=/var/ocne/cni/bin-workdir,index=off

[Install]
WantedBy=multi-user.target
